#jcb_chatBot-id {
  position: fixed;
  z-index: 2147483646;
  right: 100px;
  bottom: 30px;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

@media only screen and (max-width: 1000px) {
  #jcb_chatBot-id {
    width: 1000%;
    right: 100px;
  }
  .jcb_fab-icon-a {
    right: 20px !important;
    width: 50px !important;
    height: 50px !important;
  }
  .jcb_fab-img {
    width: 50% !important;
  }
}

#btn-input::-webkit-input-placeholder {
  color: #565d56;
  text-align: left;
}
#btn-input {
  margin: 0px 10px;
  width: 65%;
  margin-bottom: 0;
  border-radius: 20px;
  color: #000;
  border: none;
  text-align: left;
  resize: none !important;
}
/*Up_arrow*/

.jcb_downButton:active {
  position: relative;
  top: 1px;
}

.jcb_down_button {
  cursor: pointer;
  size: 1%;
  max-width: 25px;
  max-height: 25px;
}

.jcb_custom-layout {
  position: absolute;
  border: 2px solid #02b4de;
  border-radius: 5px;
  width: 94%;
  bottom: 65px;
  background-color: #fff;
  margin-left: -5px;
}

.jcb_custom-layout button {
  background-color: #fff;
  width: 100%;
  text-align: left;
  font-size: 11px;
  border: none;
  padding: 3px;
  border-bottom: 1px solid #d3d3d3;
}

/*Send Buttons*/

.jcb_myButton:active {
  position: relative;
  top: 1px;
}
.jcb_send_image {
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: inline;
}
.jcb_panel-footer {
  text-align: left !important;
  background-color: #fff;
  border: none;
  border-bottom-left-radius: 66%;
  border-bottom-right-radius: 66%;
}
.jcb_input-group {
  -webkit-box-sizing: inherit;
  display: block;
  justify-content: space-between;
}
.panel {
  margin-bottom: 0px;
  background-color: #fff;
}

.jcb_chat-window {
  bottom: 0;
  margin-left: 10%;
  max-width: 300px;
}
.jcb_chat-window > div > .panel {
  border-radius: 125px 125px 20px 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.jcb_msg_container_base {
  background: #fff;
  margin: 0;
  padding: 0 10px 10px;
  height: 350px;
  overflow-x: hidden;
}
.jcb_top-bar {
  background: #3e593c !important;
  padding-left: 20px;
  font-size: 10%;
  position: relative;
  overflow: hidden;
  max-width: 300px;
  max-height: 50px;
  border-radius: 10px 10px 0px 0px;
}
.msg_receive {
  padding-left: 0;
  margin-left: 0;
  max-width: 200px;
  text-align: left;
  background-color: #02b4de;
}
.msg_sent {
  background-color: #02b4de;
  padding-bottom: 20px !important;
  margin-right: 0px;
  margin-left: 0px;
  text-align: right;
  max-width: 200px;
}
.messages {
  /* background: rgb(255, 255, 255); */
  color: #fff;
  padding: 10px;
  padding-left: 10px;
  border-radius: 12px;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.messages > p {
  font-size: 11px;
  margin: 0 0 0.2rem 0;
  word-wrap: break-word;
  text-align: left;
}
.messages > time {
  font-size: 10px;
  color: #000;
  text-align: left;
}
.jcb_msg_container {
  padding: 10px;
  overflow: hidden;
  display: flex;
}

.jcb_base_sent {
  justify-content: flex-end;
  align-items: flex-end;
}

.msg_sent > time {
  float: left;
}

.jcb_icon-heading-chatBot {
  float: left;
  width: 60%;
}

/*ScrollBar of ChatBot design*/

.jcb_msg_container_base::-webkit-scrollbar {
  width: 11px;
}
.jcb_msg_container_base {
  scrollbar-width: thin;
  scrollbar-color: #90a4ae #cfd8dc;
}
.jcb_msg_container_base::-webkit-scrollbar-track {
  background: #cfd8dc;
}
.jcb_msg_container_base::-webkit-scrollbar-thumb {
  background-color: #90a4ae;
  border-radius: 6px;
  border: 3px solid #cfd8dc;
}

/*Floating Button*/
.jcb_fab-icon-a {
  position: fixed;
  z-index: 2147483646;
  right: 100px;
  bottom: 50px;

  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 85, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  text-align: center;
  cursor: pointer;

  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}
.jcb_fab-img {
  width: 60%;
  display: inline;
  margin-top: 11px;
}

/*Type2 ButtonMessage with recieve message*/
.jcb_btn_mess {
  cursor: pointer;
  border: 2px solid #02b4de;
  border-radius: 20px;
  padding: 5px;
  font-size: 11px;
  margin: 2px;
  float: left;
  text-align: left;
}
.jcb_msg_container > .jcb_btn_messs {
  display: block !important;
  margin: -5px -1px;
}
