#chatBot-id {
  position: fixed;
  z-index: 2147483646;
  right: 100px;
  bottom: 30px;
  width: 100%;
  font-family: "Poppins", sans-serif;

  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3) !important;
}

@media only screen and (max-width: 1000px) {
  #chatBot-id {
    width: 100%;
    right: 50px;
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
  }
  .chat-window {
    max-width: 100% !important;
    margin-left: 0px !important;
  }
  .top-bar {
    max-width: 100% !important;
  }
  .panel-default {
    border: none;
  }
  .msg_container_base {
    height: 84.5vh !important;
    position: relative;
  }
  .panel-footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
  }
  .custom-layout {
    position: absolute;
    bottom: 72px !important;
  }
  .fab-icon-a {
    right: 20px !important;
    width: 50px !important;
    height: 50px !important;
  }
  .fab-img {
    width: 50% !important;
  }
}
#my_form {
  width: 100%;
  display: table;
}
#btn-input::-webkit-input-placeholder {
  color: #565d56;
  text-align: left;
}
#btn-input {
  display: table-cell;
  width: 100%;
  margin-bottom: 0;
  border-radius: 20px;
  color: #000;
  border: none;
  text-align: left;
  resize: none !important;
}
/*Up_arrow*/
.downButton {
  display: table-cell;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 10px 0px 0px;
}

.downButton:active {
  position: relative;
  top: 1px;
}

.down_button {
  cursor: pointer;
  size: 1%;
  display: block;
  max-width: 25px;
  max-height: 25px;
  margin-right: auto;
  margin-left: auto;
}

.custom-layout {
  position: absolute;
  border: 2px solid #3e593c;
  border-radius: 5px;
  width: 94%;
  bottom: 65px;
  background-color: #fff;
  margin-left: 5px;
}

.custom-layout button {
  background-color: #fff;
  width: 100%;
  text-align: left;
  font-size: 11px;
  border: none;
  padding: 3px;
  border-bottom: 1px solid #d3d3d3;
}

/*Send Buttons*/
.myButton {
  display: table-cell;
  padding: 0px 0px 0px 10px;
}

.myButton:active {
  position: relative;
  top: 1px;
}
.send_image {
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.panel-footer {
  text-align: left !important;
  background-color: #fff;
  border: none;
  width: 100%;
}
.input-group {
  -webkit-box-sizing: inherit;
  display: block;
  justify-content: space-between;
}
.panel-default {
  margin-bottom: 0px;
  background-color: #fff;
}

.chat-window {
  bottom: 0;
  max-width: 300px;
}
.msg_container_base {
  background: #fff;
  margin: 0;
  padding: 0 10px 10px;
  height: 350px;
  overflow-x: hidden;
}
.top-bar {
  background: #3e593c !important;
  padding-left: 20px;
  font-size: 10%;
  position: relative;
  overflow: hidden;
  max-width: 300px;
  max-height: 50px;
}
.msg_receive {
  padding-left: 0;
  margin-left: 0;
  max-width: 200px;
  text-align: left;
  background-color: #dfdfdf;
  color: #000 !important;
}
.msg_sent {
  background: #3e593c !important;
  padding-bottom: 20px !important;
  margin-right: 0px;
  margin-left: 0px;
  text-align: right;
  max-width: 200px;
  color: #fff !important;
}
.messages {
  /* background: rgb(255, 255, 255); */
  color: #fff;
  padding: 10px;
  padding-left: 10px;
  border-radius: 12px;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.messages > p {
  font-size: 11px;
  margin: 0 0 0.2rem 0;
  word-wrap: break-word;
  text-align: left;
}
.messages > time {
  font-size: 10px;
  color: #90a4ae;
  text-align: left;
}
.msg_container {
  padding: 10px;
  overflow: hidden;
  display: flex;
}

.base_sent {
  justify-content: flex-end;
  align-items: flex-end;
}

.msg_sent > time {
  float: left;
}

.icon-heading-chatBot {
  float: left;
  width: 60%;
}

/*ScrollBar of ChatBot design*/

.msg_container_base::-webkit-scrollbar {
  width: 11px;
}
.msg_container_base {
  scrollbar-width: thin;
  scrollbar-color: #90a4ae #cfd8dc;
}
.msg_container_base::-webkit-scrollbar-track {
  background: #cfd8dc;
}
.msg_container_base::-webkit-scrollbar-thumb {
  background-color: #90a4ae;
  border-radius: 6px;
  border: 3px solid #cfd8dc;
}

/*Floating Button*/
.fab-icon-a {
  position: fixed;
  z-index: 2147483646;
  right: 100px;
  bottom: 50px;

  background: #3e593c !important;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  text-align: center;
  cursor: pointer;

  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}
.fab-img {
  width: 60%;
  display: inline;
  margin-top: 11px;
}

/*Type2 ButtonMessage with recieve message*/
.btn_mess {
  cursor: pointer;
  border: 2px solid #3e593c;
  border-radius: 20px;
  padding: 5px;
  font-size: 11px;
  margin: 2px;
  float: left;
  text-align: left;
}
.msg_container > .btn_messs {
  display: block !important;
  margin: -5px -1px;
}
